<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CustomPhotoConverter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <CustomPhotoConverter.Properties.Settings>
            <setting name="firstSizeWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="firstSizeHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="firstSizeRowQty" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="firstSizeColumnQty" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="secondSizeWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="secondSizeHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="secondSizeRowQty" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="secondSizeColumnQty" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="resolutionPPI" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="borderSize" serializeAs="String">
                <value>0</value>
            </setting>
        </CustomPhotoConverter.Properties.Settings>
    </userSettings>
</configuration>